    <div class="back">
        <div class="container" class="moderatorBody">

        <header>
            <h1 class="modTitle">Moderator View</h1>
        </header>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Jake">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Framework</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>CSS</option>
                        <option>HTML</option>
                        <option>Javascript</option>
                        <option>jQuery</option>
                        <option>Node</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Add Framework</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="python">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Sudject</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Test Method name</option>
                        <option>Test Description</option>
                        <option>Test Image</option>
                        <option>Test URL</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Add Subject</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="python">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What items would you like to edit</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Method name</option>
                        <option>Description</option>
                        <option>Image</option>
                        <option>URL</option>
                    </select>
            </div>
            <button type="button" class="btn btn-success">Submit</button>
        </form>
        </div>

    </div>
